<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extract.AppConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Server" value="ATEBMEX-D9004" />
      <add key="DB" value="COFIDI" />
      <add key="User" value="sa" />
      <add key="Pass" value="Ateb2005" />
      <add key="LoggerPath" value="C:\Users\gerardo.rios\Documentos"/>
      <add key="FilesPath" value="C:\Users\gerardo.rios\Documentos"/>
      <add key="Status" value="'1','2','3'"/> <!--El status solo acepta como delimitador la coma ','. Ejemplo: 1,2,3,4,5-->
    </appSettings>
</configuration>